name: Manual PostgreSQL Restore

on:
  workflow_dispatch:
    inputs:
      backup_file:
        description: "backup/pgdump/backup_20251123_0144.sql"
        required: true

jobs:
  restore:
    runs-on: ubuntu-latest
    container:
      image: postgres:17
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Run restore
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
        run: bash scripts/scripts/db_restore.sql ${{ github.event.inputs.backup_file }}
